.h1.center New Invitation List
.h4.center
  = link_to event.event_title, event

= form_for [event, invitation_list] do |f|
  .field
    = f.label :title
    = f.text_field :title
    = f.inline_errors :title
  = f.button nil, class: "capitalize"
