%div[contact]
  %div{ id: "contact-map", class: "contact__map", data: { address: contact.full_address}  }
  .flex.items-center.justify-center
    - if contact.previous
      = link_to contact_path(contact.previous) do
        %i.fa.fa-arrow-circle-o-left.pr-2.text-xl
    .font-bold.text-center.text-4xl.my-2= contact.name
    - if contact.next
      = link_to contact_path(contact.next) do
        %i.fa.fa-arrow-circle-o-right.pl-2.text-xl

  .lg:flex
    %div{ class: "flex w-full" }
      .p-2.flex.flex-auto
        .bg-white.flex-auto.p-2.border-mid
          %h3.mb-2 Edit Details
          = render "form", contact: contact

    %div{ class: "flex w-full" }
      .p-2.flex.flex-auto
        .bg-white.flex-auto.p-2.border-mid
          .h2 Associatied Mailing List
          %ul
            - contact.mailing_lists.each do |list|
              %li.py-2= link_to list.title, list
