= form_for contact do |f|
  .sm-col-6
    = f.text_field :name, placeholder: "Enter Contact Name", class: "field"
    = f.text_field :street_1, placeholder: "Street", class: "field"
    = f.text_field :street_2, placeholder: "APT", class: "field"
    = f.text_field :city, placeholder: "City", class: "field"
    = f.text_field :state, placeholder: "State", class: "field"
    = f.text_field :zipcode, placeholder: "Zipcode", class: "field"
    .flex
      = f.button "Save", class: "btn-primary"
      - if contact.persisted?
        .ml-auto
          = link_to "Remove", contact, method: :delete, class: "btn-negative"

