
.flex.items-center
  .font-bold.mr-2.pb-2.text-4xl Contacts
  = link_to "+", new_contact_path, class: "border h-8 flex items-center justify-center no-underline rounded-full text-grey text-xl w-8"

.flex.flex-col.lg:flex-row
  .existing-contacts.flex-auto
    .text-md
      = "Total: #{contacts.size}"
    #contacts-table
    =# render "contact_table_template", contacts: contacts
  .new-contacts.pl2
    .new-contacts__form
      .h3.mb2 New Contacts
      = form_for ContactUpload.new do |f|
        .pb1
          = f.file_field :csv_upload_file
        .pb1
          = f.button "Upload", class: "btn"
    .new-contacts__recent-uploads.mt2
      .h3.mb2 Recent Uploads
      - if last_upload
        = link_to "Undo Last Upload",
          upload_path(last_upload),
          method: :delete
      .h5.mb1
        %ul.list-reset
          - recent_uploads.each do |upload|
            %li.upload.flex.pr2.mb1{ data: { behavior: "show-included-contacts", contact_ids: upload.contact_ids.join(",") } }
              .upload__date.flex-auto.flex.items-center= upload.uploaded_at
              = link_to upload, class: "upload__undo", method: :delete do
                %i.fa.fa-undo{ aria_hidden: "true"}
